.admin-support-container {
  min-height: 85vh;
  padding: 1.5rem;
  padding-top: 5%;
  padding-bottom: 5%;

  .cards {
    display: flex;
    flex-direction: column;

    .card {
      padding: 12px;
      margin: 4px;

      .desc {
        color: grey;
      }
    }
  }
}
