.mainContainer {
    padding: 4%; 
    padding-bottom: 11%;
    display: flex;
    justify-content: center;
    height: 80%;
    align-items: center;
    position: relative;
    flex-direction: column;
  }